.navbar {
    background-color: #1d70b8;
    min-height: 6rem;
    margin-bottom: 2rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.webTitle {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.themeButton {
    background-color: #ffffff;
    color: #1d70b8;
    border-color: #b1b4b6;
}

.themeButtonInvert {
    background-color: #f3f2f1;
    color: #1d70b8;
    border-color: #b1b4b6;
}

.themeButtonInvert:hover {
    color: #1d70b8;
    border-color: #b1b4b6;
    background-color: #5694ca
}

.themeButton:hover {
    background-color: #f3f2f1;
    color: #1d70b8;
    border-color: #b1b4b6;
}

.required::after {
    content: " *";
    color: red;
}

.card-header {
    background-color: #28a197;
    color: #ffffff;
}
